h1{
    color: forestgreen;
    text-align: center;
}
html{
    background-color: black;
}
h3{
    color: aquamarine;
}
p{
    color: white;
}
h2{
    color: aquamarine;
    text-shadow: 1cm;
}
ol{
    color: white;
}
ul{
    color: white;
}